$lynch: #6C7A89
$lynch-hover: gray
$fatface: "FatFace"
$secondary: "Lato"
$bigsize: 45px

@import utils


/* div, h1, h2, h3, h4, p
/*   border: 1px solid black !important

@font-face
  font-family: 'FatFace'
  src: url('abrilfatface-regular-webfont.eot')
  src: url('abrilfatface-regular-webfont.eot?#iefix') format('embedded-opentype'), url('abrilfatface-regular-webfont.woff2') format('woff2'), url('abrilfatface-regular-webfont.woff') format('woff'), url('abrilfatface-regular-webfont.ttf') format('truetype'), url('abrilfatface-regular-webfont.svg#abril_fatfaceregular') format('svg')
  font-weight: normal
  font-style: normal

.detail-text
  letter-spacing: 2px

h1
  font-size: 3rem

h1, h2, h3, h4
  font-family: $fatface

#top-images
  padding-top: 20px
  text-align: center
  #headkiss-img
    width: 100px
    margin-right: 30px
    position: relative
    top: 75px
  #fire-img
    width: 200px

#second-images
  text-align: center
  margin-top: 50px
  #wolfie-img
    width: 150px
    margin-left: 125px
  #gc-img
    width: 220px
    margin-left: 40px

#third-images
  text-align: center
  margin-top: 30px
  #miami-img
    width: 150px
    position: relative
    top: -50px
  #lake-img
    position: relative
    top: 30px
    margin-left:30px
    width: 200px
  #party-img
    margin-left: 30px
    width: 100px

.party-row
  .small-12.medium-10
    margin-left: 0
    padding-left: 0
    text-align: left

.photo-col
  margin: 0 auto;
  text-align: center;
  img
    margin: 0 auto;
    padding: 15px;
    width: 290px;

#story-blocks
  padding-right: 90px
  .storyblock-row
    border-left: 1px solid $lynch
    font-family: $secondary !important
    color: $lynch
    .medium-10
      margin-right: 23px
      p
        font-size: .9rem
      h4
        color: $lynch
        font-family: $secondary
        font-size: 1.1rem
    .circleColumn
      margin-left: -23px
      margin-top: 15px
      .storyCircle
        width: 15px
        height: 15px
        border-radius: 7px
        border: 1px solid $lynch
        background: white

.filler
  @extend .center
  background: black
  width: 200px
  height: 200px

.secondary
  font-family: $secondary

.lynch
  color: $lynch

.alt-text
  color: $lynch
  margin-top: 60px
  margin-bottom: 25px
  letter-spacing: 8px

.bottom-text
  color: $lynch
  font-size: 17px

.members-row
  h4
    color: $lynch
    margin-bottom: -7px
  .person-text
    @extend .center
    width: 200px
    .secondary
      width: 220px

.groomsmen-word
  .alt-text
    margin-top: 0;

.video-row
  height: 200px
  .small-12
    margin-top: -220px
  #drive-text
    position: relative
    z-index: 1
    top: 500px;
    h1, h5, h4, h2, h3
      color: white
    h1
      letter-spacing: 4px
    h4
      margin-left: 17%
      margin-right: 17%
  video
    position: relative;
    min-width: 100% 
    min-height: 100%
    width: 100%
    height: auto 
    z-index: -100
    background: url('main_hike.jpg')
    background-size: cover


html, body
  width: 100%
  height: 100%

.top-bar
  background: $lynch

nav
  .top-bar-section li:not(.has-form) a:not(.button)
    background: $lynch
  .top-bar-section li:not(.has-form) a:not(.button):hover
    background: $lynch-hover



.accom-boxes
  position: relative !important
  img
    margin-left: -100px
    z-index: -100
  h1
    width: 500px
    position: relative
    z-index: 100
    top: -873px
    left: 400px
    letter-spacing: 4px
    color: white
  .gray-box
    padding-bottom: 10px;
    position: relative
    overflow: wrap
    top: -860px
    left: 275px
    width: 76%
    text-align: left
    background: $lynch
    padding-top: 3px;
    padding-left: 15px;
    margin-bottom: 15px;
    h5, h3, p
      color: white
    h5
      font-family: $secondary
    h3
      letter-spacing: 4px
    p
      margin-bottom: 0
      padding-right: 100px
      padding-left: 10px
      .extra
        font-size: 12px
    a
      font-style: italic
      color: white
    a:hover
      text-decoration: underline
      color: white

.wedding-link, .wedding-link:visited
  font-style: italic
  color: white

.wedding-link:hover
  text-decoration: underline
  color: white


#accom-row
  margin-top: 30px
  font-family: $secondary

#accom-row-row
  max-height: 1000px

.big-button
  font-family: $fatface
  width: 100%
  background: $lynch
  color: white
  font-size: 20px
  letter-spacing: 4px

#rsvp-row
  h1
    margin-bottom: 10px
  h3
    margin-bottom: 28px
    line-height: 80%
  textarea
    margin-bottom: 10px


#songs-row
  margin-top: 50px
  h1
    margin-bottom: 2px
  h1, h4
    color: $lynch
  form
    width: 350px
    margin: 50px auto
   
      
#schedule-row
  margin-top: 50px
  h3
    margin-top: 5px;
    letter-spacing: 3px
  h3, h5
    color: $lynch
  h5
    margin-top: -10px
  .icon
    margin: 0 auto
    height: 100px
    width: 100px;

#conclusion-row
  background-image: url('drivewayedit.png')
  background-size: cover
  min-height: 500px
  height: 600px
  padding-top: 50px
  h1, h2
    color: white
  h1
    font-size: 3rem
    letter-spacing: 4px
    margin-top: 0
    margin-bottom: 0

#details-row
  background-image: url('siteedit.jpg')
  background-size: cover
  min-height: 500px
  height: 500px
  margin-top: 50px
  #venue-text
    padding-top: 20px
    letter-spacing: 8px
  h1, h3, h2
    color: white
  h3
    padding-bottom: 15px
    letter-spacing: 2px
  #address-box
    padding-top: 10px
    padding-bottom: 2px
    margin: 0 auto;
    max-width: 100%
    width: 500px
    background: $lynch
    #swan-cove
      margin-bottom: -7px
      letter-spacing: 4px
      padding-bottom: 0
    #address
      line-height: 35px
      padding-top: 0
      line-spacing: 1px

#front-row
  background-image: url('main_hike.png')
  background-size: cover
  min-height: 612px
  height: 100%
  #allison-sam
    margin-top: 60px
    font-size: 2rem
    color: white
  h1, h2, h4
    color: white
    font-weight: lighter
  #main-words
    margin-top: 250px
    font-size: $bigsize
  #date-text
    margin-top: -40px;
 
.rsvp-button
  background: $lynch
  margin-top: 10px
  height: 50px
  padding-top: 5px
  padding-left: 20px
  padding-right: 20px
  letter-spacing: 4px
  h4
    color: white
    font-family: $fatface
    font-size: 1.5rem
  

.rsvp-button:hover
  background: transparent
  border: 1px solid white
